<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.oecd">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OECD"
        tools:targetApi="31">
        <activity
            android:name=".AdminUpdateRequestActivity"
            android:exported="false" />
        <activity
            android:name=".UserRequestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminViewRequestActivity"
            android:exported="false" />
        <activity
            android:name=".UserAddRequestActivity"
            android:exported="false" />
        <activity
            android:name=".UserViewRequestActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UserDetailsServicePostActivity"
            android:exported="false" />
        <activity
            android:name=".UserDetailsEmergencyPostActivity"
            android:exported="false" />
        <activity
            android:name=".UserViewServiceActivity"
            android:exported="false" />
        <activity
            android:name=".UserViewEmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".AdminUpdateServicePostActivity"
            android:exported="false" />
        <activity
            android:name=".AdminUpdateEmergencyPostActivity"
            android:exported="false" />
        <activity
            android:name=".AdminViewEmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAddEmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".AdminViewServiceActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAddServiceActivity"
            android:exported="false" />
        <activity
            android:name=".UserHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".AdminHomePageActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>